html, .para{
    color: rgba(14, 21, 27, 0.90) !important;
font-family: Inter !important;
font-size: 16px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: 150% !important;
}

svg{
    fill: #0E151B;
}

svg:hover{
    fill: #F29F05;
}

.nav-bar{
    border-bottom: 1px solid #FFF;
background: rgba(255, 255, 255, 0.40);
backdrop-filter: blur(16px);

width: 100vw !important;
margin: auto !important;
padding: 0 100px !important;
position: fixed;
}

.nav-link{
    color: #0E151B !important;
}

.nav-link:hover{
    color: #F29F05 !important;
}

.nav-container{
    align-items: center;
}

/*Nav icon hover*/
ul>.nav-item>.nav-link>img{
    height: 26.7px;
    color: #0E151B;
}

ul>.nav-item>.nav-link>img:hover{
    color: #F29F05 !important;
}

/*headings style*/
.hone,.htwo{
    color: #0E151B !important;
font-family: Nunito !important;
font-size: 48px !important;
font-style: normal !important;
font-weight: 800 !important;
line-height: 56px !important;
}

.hero-button{
    padding: 10px 32px;
    border-radius: 39px !important;
    border-color: #F29F05 !important;
    background-color: #F29F05 !important;
}

.hero-button:hover{
    border-color: #C27E00 !important;
    background-color: #C27E00 !important;
    color: #DBDBDB;
}

/*Secondary button*/
.sec-button{
    padding: 10px 32px !important;
    border-radius: 50px !important;
border: 1px solid #F29F05 !important;
background-color: rgba(255, 255, 255, 0.16) !important;
color: #F29F05 !important;
}

.sec-button:hover{
    border-radius: 50px;
    border: 1px solid #F29F05 !important;
    background: #F29F05 !important;
    color: white !important;
}

.cta-bg{
    background: #FCE8C3;
    margin: 0 !important;
    width: 100vw;
    overflow: visible;
}

.learn-more-link{
    color: #F29F05 !important;
}

.learn-more-link:hover{
    color: #C27E00 !important;
}

/*.cta{
    background: #FCE8C3;
    margin: 0 !important;
    width: 100vw;
    overflow: visible;
}

*/

/*footer*/
/*.footer{
    background-image: url(./footer\ bg.png);
    width: 100vw;
}*/

.footer-bg{
    background-image: url(./footer\ bg.png);
}

h5{
    color: #0E151B;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 800 !important;
line-height: 56px; /* 280% */
}

.nav-link-f{
    color: #0E151B !important;
    text-decoration: none;
}

.nav-link-f:hover{
    color: #ffffff !important;
    text-decoration: underline;
}

span{
    font-weight: bold;
}


